@charset "UTF-8";

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

header>div:nth-child(odd) {
    flex: 2;
}

.logo {
    padding-top: 10px;
    height: 40px;
    text-align: center;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    padding-top: 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

ul.left {
    float: left;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    list-style: none;
}

ul .cart {
    padding-top: 15px;
}

ul li a {
    color: black;
    text-decoration: none;
}

nav ul.right {
    float: right;
}

#btn{
    background-color: white;
    border:none;
}

.navTop {
    background-color:white;
}

#search-bg {
    position: absolute;
    width: 100vw;
    z-index: 1;
    background-color:white;
    text-align: center;
    transition: all 0.5s;
    height: 0px;
    overflow: hidden;
    left: -1px;
    margin-top: 22px;
}

#search-bg input {
    width: 70%;
    margin-top: 10px;
    height: 30px;
    background-color: transparent;
    font-size: 1.2rem;
    border-width: 0 0 1px;
}

#search-bg input:focus {
    outline: none;
}

#search-bg.toggle {
    height: 100px;
    transition: all 0.2s;
}