@charset "UTF-8";

.LoginContainer {
    font-family: Arial, sans-serif;
    padding: 0;
    align-items: center;
    background-color: #fff;
    margin:0px;

}

.LoginMain {
    display: table;
    margin: 0 auto;
    background-color: #fff;
    padding: 60px 30px;
    text-align: center;
    border:none;
    height:100%;
    vertical-align:middle;
}

.LoginGroup {
    margin-bottom: 20px;
    text-align: left;
}

.LoginGroup label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.LoginGroup input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* 전체에 박스사이징 */
    outline: none; /* focus 했을때 테두리 나오게 */
}

.LoginBtn{
    background-color: #000000;
    color: #fff;
    padding: 12px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.LoginBtn:hover {
    background-color: #666;
}

.LoginOption a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

.APILogin {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.APILogin p {
    color: #666;
    margin-bottom: 10px;
}

.APILogin button {
    width: calc(50% - 5px);
    margin: 5px 5px;
    padding: 12px 0;
}

.Login {
    margin: 20px 0px 30px 10px;
    display: flex;
    justify-content: center;
}

.Login h2 {
    color: #000000;
    text-decoration: none;
    padding: 0px 15px;

}
