<html xmlns:th="http://www.thymeleaf.org" >
<head>
<title>Thymeleaf 06</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
</head>
<body>
 <table border="1" th:inline="text">
  <tr>
   <th>번호</th> <th>아이디</th> <th>비밀번호</th> <th>회원이름</th> <th>가입날짜</th>
  </tr>
  
  <tr th:each="m :${list}">
   <td>[[${m.mno}]]</td>
   <td>[[${m.mid}]]</td>
   <td>[[${m.mpw}]]</td>
   <td>[[${m.mname}]]</td>
   <td>[[${m.regdate}]]</td>
  </tr>
 </table>
 
 <div>[[${result}]]</div>
 <div>[[${#vars.result}]]</div> <!--  #vars은 생략가능 -->
 
 <script src="https://code.jquery.com/jquery-latest.min.js"></script>
 <!-- jQuery CDN방식 -->
 <script th:inline="javascript">
     $data = [[${result}]];
     document.write("$data : "+ $data +"<hr>");
 </script>
</body>
</html>


